<!DOCTYPE html>
<html lang="zxx" class="no-js">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <!-- #header -->

            <%- include('./partials/banner.ejs') %>

                <div>
                    <!-- <%- include('./partials/newRisalah.ejs') %> -->

                    <%- body %>

                </div>

                <%- include('./partials/footer.ejs') %>






    </body>


</html>